nav
    ul
        li
            a(href="/dashboard/hoteladmin") Dashboard
        li
            a(href="/profile") Profile
        li
            a(href="#") Users
        li
            a(href="#") Rooms
        li
            a(href="#") Occupancy Demand
        li
            a(href="#") Promos and Deals
hr