.container
  .d-flex.justify-content-between.align-items-stretch.pt-2
    ul.nav.nav-pills.justify-content-between.flex-shrink-0.mb-sm-auto.mb-0.align-items-center.align-items-sm-stretch
      // all rooms
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text.har(href='/HArooms')
          i.fa-solid.fa-bed.me-sm-1
          span All Rooms
      // vacant rooms
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/HArooms/vacantRooms')
          i.fa-solid.fa-tags.me-sm-1
          span Vacant Rooms
      // reserved rooms
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/HArooms/reservedRooms')
          i.fa-solid.fa-tags.me-sm-1
          span Reserved Rooms    
      // occupied rooms
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/HArooms/occupiedRooms')
          i.fa-solid.fa-house-lock.me-sm-1
          span Occupied Rooms
      // on-change rooms
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/HArooms/onchangeRooms')
          i.fa-solid.fa-broom.me-sm-1
          span On-Change Rooms
      // out-of-order rooms
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/HArooms/outoforderRooms')
          i.fa-solid.fa-circle-minus.me-sm-1
          span Out-of-Order Rooms
      // add a room
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/HArooms/addRooms')
          i.fa-solid.fa-house-medical.me-sm-1
          span Add a Room
