#navbar-wrapper
  // Sidebar
  .sidebar
    .sidebar-logo
      if(hotelLogo)
        img(src=`${hotelLogo}` alt='Logo' style='border: 2px solid white; border-radius: 50%')
      else
        img(src='/images/logo-white.png' alt='Logo')
    
    .separator

    // Wrap the sidebar content in a scrollable div
    .sidebar-content.nav-scroll
      ul.nav.flex-column
        li.nav-item
          a.nav-link(href="/dashboard/hsadmin")
            i.fas.fa-solid.fa-chart-simple.fa-xl
            span Dashboard
        li.nav-item
          a.nav-link(href='/profile')
            i.fas.fa-solid.fa-hotel.fa-xl
            span Profile   
        li.nav-item
          a.nav-link(href='/users')
            i.fas.fa-solid.fa-users.fa-xl
            span Users         
        li.nav-item
          a.nav-link(href='/roomtype')
            i.fas.fa-solid.fa-layer-group.fa-xl
            span Room Types
        li.nav-item
          a.nav-link(href='/HSArooms')
            i.fas.fa-solid.fa-door-open.fa-xl
            span Rooms
        li.nav-item
          a.nav-link(href='/od')
            i.fas.fa-solid.fa-chart-line.fa-xl
            span Occupancy Demand
        li.nav-item
          a.nav-link(href='/pd')
            i.fas.fa-solid.fa-tag.fa-xl
            span Promos
        //    
          li.nav-item
            a.nav-link(href='/404')
              i.fas.fa-solid.fa-tag.fa-xl
              span 404    
        li
          a.nav-link.accordion-toggle.nav-item(href='#accordionContent', data-bs-toggle='collapse', role='button', aria-expanded='false', aria-controls='accordionContent')
            i.fas.fa-solid.fa-folder-open.fa-xl
            span.names Reports
            i.fa-solid.fa-caret-down.d-flex.justify-content-end
          #accordionContent.collapse.accordion-collapse
            ul.nav.flex-column.accordion
              li.nav-item
                a.nav-link(href='/link1') Occupancy Report
              li.nav-item
                a.nav-link(href='/link2') Reservation Summary Report
              li.nav-item
                a.nav-link(href='/reports/guestInHouse') Guest In-House Report
              li.nav-item
                a.nav-link(href='/reports/revenue') Revenue Report
              li.nav-item
                a.nav-link(href='/reports/promosSummary') Promos Summary Report

    // Sign out
    ul.nav.flex-column.sign-out-sticky
      li.nav-item.btn-log
        form(action="/logout", method="POST")
          button.nav-link(type="submit") 
            i.fas.fa-solid.fa-right-from-bracket.fa-xl
            span Sign Out

  // Head Navigation
  nav.navbar.navbar-expand-lg.navbar-light.upper.shadow
    .container-fluid
      #navbarNav.navbar-collapse.justify-content-end
        // User (Right-aligned)
        .navbar-text
          a.navbar-brand.text-dark(href='#')
            i.fa-solid.fa-user-tie.me-sm-2
            span.ms-1.d-sm-inline Hotel System Admin
