nav
    ul
        li
            a(href="#") Dashboard
        li
            a(href="#") Profile
        li
            a(href="#") Users
        li
            a(href="#") Rooms
        li
            a(href="#") Occupancy Demand
        li
            a(href="#") Promos and Deals