nav
    ul
        li
            a(href="/dashboard/hoteladmin") Dashboard
        li
            a(href="/profile") Profile
        li
            a(href="/users") Users
        li
            a(href="/roomtype") Room Types
        li
            a(href="/HArooms") Rooms
        li
            a(href="#") Occupancy Demand
        li
            a(href="#") Promos and Deals
hr