.container.shadow.mt-3.pt-3.pb-3.bg-white
  .d-flex.justify-content-between.align-items-stretch
    ul.nav.nav-pills.justify-content-between.flex-shrink-0.mb-sm-auto.mb-0.align-items-center.align-items-sm-stretch
      //- Active
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text.har(href='/pd')
          i.fas.fa-solid.fa-tag.me-sm-1
          span Active
      //- Inactive
      li.nav_room.me-3.p-2
        a.nav-roomlink.align-middle.nav_text(href='/pd/inactive')
          i.fa-solid.fa-triangle-exclamation.me-sm-1
          span Inactive
      