#navbar-wrapper
  // Sidebar
  .sidebar
    .sidebar-logo
      if(hotelLogo)
        img(src=`${hotelLogo}` alt='Logo' style='border: 2px solid white; border-radius: 50%')
      else
        img(src='/images/logo-white.png' alt='Logo')
    .separator
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="/dashboard/receptionist")
          i.fas.fa-solid.fa-chart-simple.fa-xl
          span Dashboard
      li.nav-item
        a.nav-link(href='/Rrooms')
          i.fas.fa-solid.fa-hotel.fa-xl
          span Rooms
      li.nav-item
        a.nav-link(href='/reservation')
          i.fas.fa-solid.fa-calendar-days.fa-xl
          span Reservations
      li.nav-item
        a.nav-link(href='/ga')
          i.fas.fa-solid.fa-layer-group.fa-xl
          span Guest Accounts
      li.nav-item
        a.nav-link(href='/archivedga')
          i.fas.fa-solid.fa-folder-closed.fa-xl
          span Archived Guest Accounts
      li.nav-item
        a.nav-link(href='/reservationhist')
          i.fas.fa-solid.fa-file-circle-check.fa-xl
          span Reservation History


    // Sign out
    ul.nav.flex-column.sign-out-sticky
      li.nav-item.btn-log
        form(action="/logout", method="POST")
          button.nav-link(type="submit") 
            i.fas.fa-solid.fa-right-from-bracket.fa-xl
            span Sign Out
        //-a.nav-link(href='login.html')
          i.fas.fa-solid.fa-right-from-bracket.fa-xl
          span Sign Out

          ul.nav.flex-column
      
  // Head Navigation
  nav.navbar.navbar-expand-lg.navbar-light.upper.shadow
    .container-fluid
      #navbarNav.navbar-collapse.justify-content-end
        // User (Right-aligned)
        .navbar-text
          a.navbar-brand.text-dark(href='#')
            i.fa-solid.fa-user-tie.me-sm-2
            span.ms-1.d-sm-inline Receptionist

