nav
    ul
        li
            a(href="/dashboard/receptionist") Dashboard
        li
            a(href="/Rrooms") Rooms
        li
            a(href="#") Reservations
        li
            a(href="#") Guest Accounts
            
form(action="/logout/receptionist", method="POST")
    button(type="submit") Sign Out
hr