nav
    ul
        li
            a(href="/dashboard/receptionist") Dashboard
        li
            a(href="#") Rooms
        li
            a(href="#") Reservations
        li
            a(href="#") Guest Accounts
hr