doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/modal.css')
    //-Bootstrap
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    //-Customize Css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/modal.css')
    link(rel='stylesheet', href='/css/track_card.css')
    
    
    title Dashboard
    include ../partials/color.pug
  body
    include ../partials/navR.pug
    .content
      // Header Title for page
      .row
        .col-8.d-flex.align-items-center
          h2.text.mb-3 Dashboard
              //- Main Content 
              //- Inside your dashboard/hsadmin.pug file

              //- Tracking Card for Active Guest Accounts
              .row.mx-5
                  .col-md-4
                      .card.act_card.shadow-sm(style="width: 18rem;")
                          .card-body.act_card_body
                              .d-flex.flex-column.align-items-start
                                  span.card-title.mb-2.text-muted Active Account
                                  h2 #{guestCount}



    //-Bootstrap Js
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    //-FontAwesome
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    //-Customize JS
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js') 
 

