doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    
    //Table
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')

    link(rel='stylesheet', href='/css/modal.css')
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/navigation.css')
    link(rel='stylesheet', href='/css/table.css')
    title Rooms

    //- sa head lagi nakalagay ang color.pug
    include ../../partials/color.pug
  body
    include ../../partials/navHA.pug

    .content
      // Header Title for page
      .row
        .col-8.d-flex.align-items-center
          h2.text Rooms
        h2 Navs
        include ../../partials/navHARoom.pug



        hr

        h2 Add Rooms

        //- Add Rooms Form
        form(method="POST" action="/HArooms/addRooms")
            .form-group
                label(for="roomnum") Room Number:
                input.form-control(type="text", name="roomnum", pattern="[0-9]+", title="Please enter a valid room number", required)

            .form-group
                label(for="") Room Type:
                select.form-select(id='roomtype', name='roomtype', required)
                    each r in roomTypesArray
                        option(value=r.roomtype data-price=r.price data-capacity=r.capacity)= r.roomtype
            
            //- javaScript code to automatically populate and disable price and capacity based on roomtype
            script.
                document.addEventListener('DOMContentLoaded', function() {
                    const roomTypeSelect = document.querySelector('select[name="roomtype"]');
                    const roomPriceInput = document.querySelector('input[name="roomprice"]');
                    const capacityInput = document.querySelector('input[name="capacity"]');
                    
                    // Function to update the price and capacity inputs
                    function updatePriceAndCapacity() {
                        // Get the selected option
                        const selectedOption = roomTypeSelect.options[roomTypeSelect.selectedIndex];
                        
                        // Update the price and capacity inputs
                        roomPriceInput.value = selectedOption.getAttribute('data-price');
                        capacityInput.value = selectedOption.getAttribute('data-capacity');
                    }
                    
                    // Update the price and capacity inputs when the page loads
                    updatePriceAndCapacity();
                    
                    // Update the price and capacity inputs when the room type changes
                    roomTypeSelect.addEventListener('change', updatePriceAndCapacity);
                });

            .form-group
                label(for="roomprice") Room Price:
                input.form-control(type="number", name="roomprice", step="0.01", min="0", required, readonly)

            - //javaScript code to automatically populate and disable roomfloor
            script.
                document.addEventListener('DOMContentLoaded', function() {
                const roomNumInput = document.querySelector('input[name="roomnum"]');
                const roomFloorInput = document.querySelector('input[name="roomfloor"]');
                
                roomNumInput.addEventListener('input', function() {
                    // Get the first character of the room number
                    const firstDigit = this.value.charAt(0);
                    
                    // Populate and disable the roomfloor input
                    roomFloorInput.value = firstDigit;
                });
                });
                
            .form-group
                label(for="roomfloor") Room Floor:
                input.form-control(type="number", name="roomfloor", min="1", required, readonly)

            .form-group
                label(for="capacity") Capacity:
                input.form-control(type="number", name="capacity", min="0", required, readonly)

            input(type="submit" class="btn btn-primary" value="Submit")
            a.btn.btn-secondary(href="/rooms") Back

    
    
    //Table
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script(src='/js/table.js')
    
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js') 
    script(src='/js/room_nav.js') 
