doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Add Hotel
  body
    h1 Add Hotel
    form(action="/hotels", method="POST")
    
      label(for="hotelname") Hotel Name:
      input(type="text", id="hotelname", name="hotelname")

      input(type="submit", value="Submit")
      