.sa-icon{
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 30px; 
    height: 30px;
    text-decoration: none; 
    border-radius: 3px;
}
.sa-edit{
    display: inline-block;
    padding: 5px;
    background-color: rgb(191, 255, 218);
    color: rgb(31, 207, 40);
    text-align: center;
    width: 40px; 
    height: 40px;
    line-height: 30px; 
    text-decoration: none; 
    border-radius: 3px;
    border-color: transparent;
}

.sa-edit:hover {
    background-color: rgb(126, 230, 169);
    color: rgb(9, 148, 16);
}

.sa-delete{ 
    display: inline-block;
    padding: 5px;
    background-color: rgb(248, 202, 210);
    color: rgb(240, 51, 51);
    text-align: center;
    width: 40px; 
    height: 40px;
    line-height: 30px; 
    text-decoration: none; 
    border-radius: 3px;
    border-color: transparent;
}

.sa-delete:hover {
    background-color: rgb(252, 161, 175);
    color: red;
}


.sa-pass{
    display: inline-block;
    padding: 5px;
    background-color: rgb(255, 217, 173);
    color: rgb(247, 121, 19);
    text-align: center;
    width: 40px; 
    height: 40px;
    line-height: 30px; 
    text-decoration: none; 
    border-radius: 3px;
    border-color: transparent;
}

.sa-pass:hover {
    background-color: rgb(255, 179, 108);
    color: rgb(202, 92, 2);
}
.sa-view{
    display: inline-block;
    padding: 5px;
    background-color: rgb(173, 228, 255);
    color: rgb(31, 63, 207);
    text-align: center;
    width: 40px; 
    height: 40px;
    line-height: 30px; 
    text-decoration: none; 
    border-radius: 3px;
    border-color: transparent;
}

.sa-view:hover {
    background-color: rgb(142, 195, 255);
    color: rgb(0, 99, 156);
}

.showpass{
    width: 466px;
}
.showpassicon{
    height: 38px;
    background-color: white;
}
