.card-with-line-height .line-height {
    line-height: 1.5; /* Adjust the line-height value as needed */
}
.hotel-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.card span{
    font-weight: 400;
}  

.card-body h6 {
    font-size: 14px;
}

.input-group{
    width: 700px;
}
textarea.form-control {
    min-height: calc(1.5em + (0.75rem + 2cm));
}
.smaller-card{
    width: 400px;
}
.border{
    border: 1px solid black;
}

.card-top-bottom{
    min-height: 50px;
}