
#navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff; /* Change this to your desired background color */
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
  }
  
  .sidebar {
  
    background-color: #333;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    
  }
  
  .sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-logo img {
    width: 100px; /* Adjust the logo's width as needed */
    height: auto;
  }
  
  .nav-item {
      color: #fff;
      display: flex;
      align-items: center;
      margin: 15px 0;
  }
  
  .nav-item i {
    margin-right: 20px;
  }
  .nav-item:hover {
      background-color: #fff;
      border-radius: 5px;
      color: #555;
  }
  .nav-item span{
    font-size: 12px;
  }
  
  .nav-item a {
      color: #fff; /* Set the default text color to white */
      text-decoration: none; /* Remove underlines from links */
  }
  
  .nav-item:hover a {
      color: #555; /* Change the text color to grey on hover */
  }
  .fas{
      margin-left: 10px;
      width: 21px;
  }
  .separator {
      background-color: #777;
      height: 2px;
      margin: 15px 0;
  }
  .sign-out-sticky {
      position: absolute;
      bottom: 0;
      
    }
    .sidebar .nav-link{
      text-decoration: none;
      border-color: transparent;
      color: white;
      background: none;
      width: 210px;
      text-align: left;
    }  
    .sidebar .nav-link:hover{
      color: #555;
    }  
  
  .upper{
      margin-left: 250px;
      height: 80px;
  }
    .content {
      margin-left: 250px;
      margin-top: 80px;
      padding: 20px;
    }
  
    .nav-item.active {
      background-color: #fff!important;
      color: #555 !important;
      font-weight: 600 !important;
      border-radius: 5px;
    }
    .active .nav-link{
      color: #555;
    }
  
  
  
  