doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Add Hotel Admin
  body
    h1 Add Hotel Admin

    form(action="/hoteladmins", method="post")

        label(for="username") Username:
        input(type="text", id="username", name="username")
        br
        br

        label(for="password") Password:
        input(type="password", id="password", name="password")
        br
        br

        select(id='hotelid', name='hotelid')
            each h in allHotelsArray
                option(value=h.hotelid)= h.hotelname

        br
        br

        input(type="submit", value="Submit")