doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  //- bootstrap
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  
  //- custom css
  link(rel='stylesheet' href='/css/font.css')
  link(rel='stylesheet' href='/css/login.css')

  //- title
  title Login

  //- body
  body

  .wrapper
  .container.main
    .row
      .col-md-6.super-admin.side-image
        .text
          p Unlock the gateway to hospitality excellence.
      .col-md-6.right
        // Form
        .input-box
          #error-box(style='display: none;')
            .error-text-container
              #error-line1
                if (userNotFound)
                  | Wrong Credentials!
                else
                  | Wrong Credentials!
              #error-line2
                if (userNotFound)
                  | Invalid username or password  
                else
                  | Invalid username or password  
          header
            | Welcome User
          .title
            | Sign in  
          form#login-super-admin(action='/login' , method="POST")
            .input-field
              input#username.input(type='text' name='username' required='' autocomplete='off')
              label(for='username') Username
            .input-field
              input#password.input(type='password' name='password' required='')
              label(for='password') Password
            .input-field
              input.ha.submit(type='submit' value='Sign In')
            a(href='/login/forgotpass') Forgot Password
            



            // JavaScript to show the error message
            script.
              if (#{loginError}) {
                window.addEventListener('DOMContentLoaded', (event) => {
                  document.getElementById('error-box').style.display = 'block';
                });
              }

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')