mixin addhotel 
    #modal.modal
        .modal-content
            .modal-header
                h1 Add Hotel
            .modal-body
                form(action="/hotels", method="POST")
                
                    label(for="hotelname") Hotel Name:
                    input(type="text", id="hotelname", name="hotelname", required)
                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer
                        button.closeModalBtn(type="button", onclick="closeModal()") Cancel
                        input(type="submit", value="Submit")


mixin addHA 
    #modal.modal
        .modal-content
            .modal-header
                h1 Add Super Admin
            .modal-body
                form(action="/hoteladmins", method="POST")

                    label(for="username") Username:
                    input(type="text", id="username", name="username", required)
                    br
                    br

                    label(for="password") Password:
                    input(type="password", id="password", name="password", required)
                    br
                    br

                    select(id='hotelid', name='hotelid')
                        each h in allHotelsArray
                            option(value=h.hotelid)= h.hotelname

                    br
                    br
                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer
                        button.closeModalBtn(type="button", onclick="closeModal()") Cancel
                        input(type="submit", value="Submit")


mixin addSA 
    #modal.modal
        .modal-content
            .modal-header
                h1 Add Super Admin
            .modal-body
                form(action="/superadmins", method="POST")

                    label(for="fullname") Name:
                    input(type="text", id="fullname", name="fullname", required)
                    br
                    br

                    label(for="username") Username:
                    input(type="text", id="username", name="username", required)
                    br
                    br

                    label(for="password") Password:
                    input(type="password", id="password", name="password", required)
                    br
                    br
                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer
                        button.closeAddModalBtn(type="button", onclick="closeModal()") Cancel
                        input(type="submit", value="Submit")