mixin addhotel 
    #modal.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Hotel
                    button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(id="addhotelform", action="/hotels", method="POST")
                    
                        label.col-form-label(for="hotelname") Hotel Name:
                        input.form-control(type="text", id="hotelname", name="hotelname", required)
                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            button.btn.btn-secondary(type="button", onclick="closeModal()") Cancel
                            input.btn(type="submit", value="Submit")                   

    
mixin addHA 
    #modal.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Add Hotel Admin
                button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
            .modal-body.mb-3
                form(id="addhoteladminform", action="/hoteladmins", method="POST")

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label.mt-3(for="password") Password:
                    input.form-control(type="password", class="form-control", id="password", name="password", required)
                    
                    div.form-check.mt-3
                        input.form-check-input(type="checkbox", id="showPasswordCheckbox")
                        label.form-check-label(for="showPasswordCheckbox") Show Password


                    
                    label.col-form-label.mt-3(for="") Hotel:
                    select.form-select(id='hotelid', name='hotelid')
                        each h in allHotelsArray
                            option(value=h.hotelid)= h.hotelname

                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer.mt-3
                        button.btn.btn-secondary.closeModalBtn(type="button", onclick="closeModal()") Cancel
                        input.btn(type="submit", value="Submit")

mixin addSA 
    #modal.modal
        .modal-content
            .modal-header
                h1 Add Super Admin
            .modal-body
                form(id="addsuperadminform", action="/superadmins", method="POST")

                    label(for="fullname") Name:
                    input(type="text", id="fullname", name="fullname", required)
                    br
                    br

                    label(for="username") Username:
                    input(type="text", id="username", name="username", required)
                    br
                    br

                    label(for="password") Password:
                    input(type="password", id="password", name="password", required)
                    br
                    br
                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer
                        button.closeAddModalBtn(type="button", onclick="closeModal()") Cancel
                        input(type="submit", value="Submit")


mixin addR 
    #modal.modal
        .modal-content
            .modal-header
                h1 Add Receptionist
            .modal-body
                form(id="addreceptionistform", action="", method="POST")
                    label(for="fullname") Name:
                    input(type="text", id="fullname", name="fullname", required)
                    br
                    br

                    label(for="username") Username:
                    input(type="text", id="username", name="username", required)
                    br
                    br

                    label(for="password") Password:
                    input(type="password", id="password", name="password", required)
                    br
                    br
                    .modal-footer
                        button.closeAddModalBtn(type="button", onclick="closeModal()") Cancel
                        input(type="submit", value="Submit")


mixin deletehotel(hotelId)
    #deletehotel.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteHotelModal()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this hotel record? If you delete this hotel, its record will be permanently deleted from the system.
                h6.title(id='') Hotel Name:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#hotel-name-in-modal(type="text" readonly value=hotelname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-hotel-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteHotelModal()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.


mixin deleteSA(userId)
    #deletesuper.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteSuperModal()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Super Admin record? If you delete this Super Admin, its record will be permanently deleted from the system.
                h6.title(id='') Super Admin Fullname:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#full-name-in-modal(type="text" readonly value=fullname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteSuperModal()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.