doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/modal.css')
    link(rel='stylesheet', href='/css/card.css')

    include ../../partials/color.pug

    title Add Promo
  body
    include ../../partials/navHSA.pug
    
    .content
      // Header Title for page
      .container
        .col-8.d-flex.align-items-center
          h2.text Add Promo

        .container.bg-white.shadow.mt-3.p-0
            .px-5.card-top-bottom.rounded-top.bg

            .px-5.py-3
                form(action=`/pd/add` method='POST' enctype='multipart/form-data') 
                    .row.mb-3
                        //- code
                        label.col-md-2.form-label.fw-bold(for='code') Promo Code
                        .col-md-10
                            input.form-control#code(type='text' name='code')
                    //- name
                    .row.mb-3
                        label.col-md-2.form-label.fw-bold(for='name') Promo Name
                        .col-md-10
                            input.form-control#name(type='text' name='name')
                    //- discount
                    .row.mb-3
                        label.col-md-2.form-label.fw-bold(for='discount') Discount
                        .col-md-10
                            input.form-control#discount(type='number' name='discount' value=0)
                    //- description
                    .row.mb-3
                        label.col-md-2.form-label.fw-bold(for='description') Description
                        .col-md-10
                            textarea.form-control#description(name='description' placeholder='')
                    //- poster
                    .row.mb-5
                        label.col-md-2.form-label.fw-bold(for="poster") Poster
                        .col-md-10
                            input.form-control#poster(type="file", name="poster", accept="image/*", onchange="previewImage(event)")
                        
                        div.mx-auto.mt-5(style="width: 200px")
                            img#imagePreview(style="width: 100%; max-height: 250px")
                        //- img.mx-auto.my-3.d-block#imagePreview(style="max-width: auto; max-height: 250px")
                    .row.mb-3
                        //- startdate
                        label.col-md-2.form-label.fw-bold(for='startdate') Start Date
                        .col-md-10
                            input.form-control#startdate(type='date' name='startdate')
                    .row.mb-5
                        //- enddate
                        label.col-md-2.form-label.fw-bold(for='enddate') End Date
                        .col-md-10
                            input.form-control#enddate(type='date' name='enddate')
                    
                    .row.mb-5
                        label.col-md-2.form-label.fw-bold Available On
                        .row.col-md-5
                            .row
                                //- isavailable_mon
                                .col-md-1
                                    input.form-check-input#isavailable_mon(type='checkbox' name='isavailable_mon')
                                label.col-md-11.form-label.fw-bold(for='isavailable_mon') Monday
                            .row
                                //- isavailable_tues
                                .col-md-1
                                    input.form-check-input#isavailable_tues(type='checkbox' name='isavailable_tues')
                                label.col-md-11.form-label.fw-bold(for='isavailable_tues') Tuesday
                            .row
                                //- isavailable_wed
                                .col-md-1
                                    input.form-check-input#isavailable_wed(type='checkbox' name='isavailable_wed')
                                label.col-md-11.form-label.fw-bold(for='isavailable_wed') Wednesday
                            .row
                                //- isavailable_thurs
                                .col-md-1
                                    input.form-check-input#isavailable_thurs(type='checkbox' name='isavailable_thurs')
                                label.col-md-11.form-label.fw-bold(for='isavailable_thurs') Thursday
                        .row.col-md-5
                            .row
                                //- isavailable_fri
                                .col-md-1
                                    input.form-check-input#isavailable_fri(type='checkbox' name='isavailable_fri')
                                label.col-md-11.form-label.fw-bold(for='isavailable_fri') Friday
                            .row
                                //- isavailable_sat
                                .col-md-1
                                    input.form-check-input#isavailable_sat(type='checkbox' name='isavailable_sat')
                                label.col-md-11.form-label.fw-bold(for='isavailable_sat') Saturday
                            .row
                                //- isavailable_sun
                                .col-md-1
                                    input.form-check-input#isavailable_sun(type='checkbox' name='isavailable_sun')
                                label.col-md-11.form-label.fw-bold(for='isavailable_sun') Sunday
                    
                    .row.mb-3
                        label.col-md-2.col-form-label.fw-bold(for="typeid") Room Type
                        .col-md-10
                            select.form-select(id='typeid', name='typeid')
                                each x in allRoomTypeArray
                                    option(value=x.typeid)= x.roomtype
            .px-5.py-3.card-top-bottom.rounded-bottom.bg
                .d-flex.justify-content-end
                    input.btn(type="submit", value="Submit")



    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js') 
    script(src='/js/imgpreview.js')