doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //-Bootstrap
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    //-Table
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    //- Plotly js
    script(src='https://cdn.plot.ly/plotly-latest.min.js')

    //-Customize Css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/modal.css')
    link(rel='stylesheet', href='/css/table.css')

    title Occupancy Demand
    //- sa head lagi nakalagay ang color.pug
    include ../../partials/color.pug
  body
    include ../../partials/navHSA.pug

    .content
      // Header Title for page
      .row.mx-5
        .col-8.d-flex.align-items-center
          h2.text Occupancy Demand
        //-.col-4.text-end
          // Add the download button on the right side
          button(type="button", id="downloadButton", class="btn btn-primary") Download Report


      // iframe to display the HTML file
      iframe(src=plotPath, width="100%", height="600px")    


    //-Bootstrap Js
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    //-FontAwesome
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    //-Customize JS
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js') 
    script(src='/js/room_nav.js') 
               